
<p>
  <mat-toolbar color="primary">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <span>CW Test <span style="font-size: 15px;">(shubhamshirore145@gmail.com)</span></span>
    <span class="example-spacer"></span>
    
    <button
    routerLink="q1"
     style="margin: 5px;border-color: white;" mat-stroked-button>Question 1</button>
    <button
    routerLink="q2"
     style="margin: 5px;border-color: white;" mat-stroked-button>Question 2</button>
    <button 
    routerLink="q3"
    style="margin: 5px;border-color: white;" mat-stroked-button>Question 3</button>
    

    <button mat-icon-button routerLink="/">
      <mat-icon>home</mat-icon>
    </button>
  </mat-toolbar>
</p>

<router-outlet></router-outlet>